<script>
    let todos = [''];
    const add = () => (todos = [...todos, '']);
    const remove = i => (todos = [...todos.slice(0, i), ...todos.slice(i + 1)]);
</script>

{#each todos as todo, i}
    <input type="text" bind:value={todos[i]}/>
    <button type="button" on:click={() => remove(i)}>x</button>
    <br/>
{/each}
<button type="button" on:click={add}>Add</button>
